body{
    background: url(../images/dark-honeycomb.png);
    background-repeat: repeat;
    overflow-x:hidden;
    max-width:1366px;
    text-align: center;
}
/*header for layout*/
.top{
    margin-top: -0.6%;
    margin-left:-0.6%;
    margin-right:-0.6%;
    overflow: fixed;
    background-color: #ffffff;
    padding: 3.5%;
    border-bottom-width: 1%;
    border-block-end-style: solid;
    border-bottom-color: #cccccc; 
}
.Title{
    background-color: #4aaaa5;
    width: 35%;
    text-align: center;
    line-height: 2;
    margin-top: -5%;
    margin-left: 10%;
    float: left;
    color: #ffffff;
    font-size: 55px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
.contactlink{
    text-decoration: none;
    background-color: ffffff;
    color:#777777;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    position: relative;
}
.contactlink:hover{
    color: #4aaaa5;
}
#endcontact{
    float:left;
    padding:5px 5px 5px 0px;
    top: 0.6%;
    right: -22%;
}
#portlink{
    float:left;
    padding:5px 10px 5px 10px;
    top: 0.6%;
    right: -26.5%;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color:#cccccc
}
#aboutme{
    float:left;
    padding:5px 10px 5px 10px;
    top: 0.6%;
    right: -15%;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color:#cccccc
}
h1{
    background-color: black;
    margin-top:-1%;
}
/*about me page*/
.bio{
    min-height:100%;
    margin-left:13%;
    margin-right: 10%;
    margin-bottom: -25px;
    top: 105px;;
    width: 960px;
    max-width:960px;
    overflow: hidden;
    clear: both;
    position: auto;
    top: -50%;
    background-color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
#abouttitle{
    color:#4aaaa5;
    background-color: #ffffff;
    font-size: 50px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding-left: 2%;
    border-bottom-width: 1%;
    border-bottom-style: solid;
    border-bottom-color:#777777;
    border-left-width: 4%;
    border-left-style: solid;
    border-left-color:#ffffff;
    border-right-width: 4%;
    border-right-style: solid;
    border-right-color:#ffffff;
}
#profile{
    float:left;
    background-color: #ffffff;
    padding: 1%;
    transform: rotate(270deg);
}
#pgraph{
    background-color: #ffffff;
    text-align: left;
    line-height: 1.8em;
    color:#777777;
}
/*contact boxes*/
.contact{
    background-color: #ffffff;
    color:#777777;
    padding-left:2%;
}
.smallbox{
    width: 95%;
}
#message{
    width: 95%;
    height:100%;
}
#button{
    background-color: #4aaaa5;
    color:#ffffff;
    border-style: hidden;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 25px;
    padding:2%;
    margin-bottom: 2%;
}
/*Portfolio page*/
.container{
    position: relative;
    text-align: center;
    float: left;
    background-color: #ffffff;
    border-color:#ffffff;
    border-style:solid;
    border-width:50px;
    border-right-width: 0;
    border-bottom-width:0;
    overflow:hidden;
}
.porttitle{
    background-color: #4aaaa5;
    color:#ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-left:10%;
    padding:5%;
    width:110%;
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
}
#lastitem{
    border-bottom-width:50px;
}
/*footer for layout*/
.push{
    height:30px;
}
.footer{
    margin-top: 10%;
    margin-left:-1%;
    margin-right:-1%;
    width: 102%;
    background-color: #666666;
    padding: 0.5%;
    padding-top: 1%;
    padding-bottom:0;
    vertical-align: middle;
    overflow:fixed;
    border-top-width: 0.5em;
    border-top-style: solid;
    border-top-color:#4aaaa5;
    min-height: 8%;
    position:absolute;
    text-align: center;
}
#donotsteal{
    left:50%;
    top:80%;
    background-color: #666666;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size:12px;
    color:#ffffff;
    transform: translate(0%, 90%);
}

